/*
	Will be used to make our background blue, and with clouds
*/
.background{
	background-color: #488BE4;
}

@keyframes cloud-horizontal{
	100%{
		-webkit-transform: translateX(-600px);
	}
}

.cloud{
	border-radius: 50%;
	background-color: #FFFFFF;
	position: absolute;
	left: 512px;
	z-index: 0;
	animation: cloud-horizontal 3s linear;
	-webkit-transform: translate3d(0, 0, 0);
}
.cloud-0{
	height: 110px;
	width: 200px;
}

.cloud-1{
	height: 220px;
	width: 300px
}

.cloud-2{
	height: 150px;
	width: 240px;
}