/*
	Will be used to make our background blue, and with clouds
*/
@-webkit-keyframes cloud-horizontal{
	100%{
		-webkit-transform: translateX(-2000px);
		-moz-transform: translateX(-2000px);
	}
}

.background{
	background-color: #488BE4;
}

.cluster{
	width: 150px;
	height: 150px;
	z-index: 0;
	left: 100%;
	position: absolute;
	-webkit-animation: cloud-horizontal 20s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-animation: cloud-horizontal 20s linear;
	-moz-transform: translate3d(0, 0, 0);
}

.high{
	top: 20%;
}

.low{
	top: 40%;
}

.cloud{
	border-radius: 50%;
	background-color: #FFFFFF;
	position: absolute;
	height: 50px;
	width: 100px;
}

.cloud-0{
	left: 25px;
}

.cloud-1{
	top: 25px;
}

.cloud-2{
	top: 25px;
	left: 50px;
}

@media screen and (min-width: 768px){
	.high{
		top: 20%;
	}

	.low{
		top: 60%;
	}		
}