/*
	Stick figure animation classes that will be added and removed when necessary by
	javascript
*/

/* arm and leg 0 */
@-webkit-keyframes run-0{
	0%{
		-webkit-transform: rotateZ(50deg);
		-moz-transform: rotateZ(50deg);
	}
	25%{
		-webkit-transform: translateX(8px);
		-moz-transform: translateX(8px);
	}
	50%{
		-webkit-transform: rotateZ(-50deg) translateX(12px) translateY(15px);
		-moz-transform: rotateZ(-50deg) translateX(12px) translateY(15px);
	}
	75%{
		-webkit-transform: translateX(8px);
		-moz-transform: translateX(8px);
	}
	100%{
		-webkit-transform: rotateZ(50deg);
		-moz-transform: rotateZ(50deg);
	}
}

/* arm and leg 1 */
@-webkit-keyframes run-1{
	0%{
		-webkit-transform: rotateZ(-50deg);
		-moz-transform: rotateZ(-50deg);
	}
	50%{
		-webkit-transform: rotateZ(50deg) translateX(-12px) translateY(15px);
		-moz-transform: rotateZ(50deg) translateX(-12px) translateY(15px);
	}
	100%{
		-webkit-transform: rotateZ(-50deg);
		-moz-transform: rotateZ(-50deg);
	}
}

/* entire body */
@-webkit-keyframes jump-0{
	50%{
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
	}
}

/* arm 0 */
@-webkit-keyframes jump-1{
	50%{
		-webkit-transform: rotateZ(70deg) translateX(-5px) translateY(5px);
		-moz-transform: rotateZ(70deg) translateX(-5px) translateY(5px);
	}
}

/* arm 1 */
@-webkit-keyframes jump-2{
	25%{
		-webkit-transform: rotateZ(-70deg) translateX(15px);
		-moz-transform: rotateZ(-70deg) translateX(15px);
	}
	50%{
		-webkit-transform: rotateZ(-140deg) translateX(10px) translateY(20px);
		-moz-transform: rotateZ(-140deg) translateX(10px) translateY(20px);
	}
}

/* leg 0 */
@-webkit-keyframes jump-3{
	50%{
		-webkit-transform: rotateZ(70deg) translateX(-5px) translateY(2px);
		-moz-transform: rotateZ(70deg) translateX(-5px) translateY(2px);
	}
}

/* leg 1 */
@-webkit-keyframes jump-4{
	50%{
		-webkit-transform: rotateZ(-120deg) translateX(10px) translateY(10px);
		-moz-transform: rotateZ(-120deg) translateX(10px) translateY(10px);
	}
}

/* head */
@-webkit-keyframes slide-0{
	50%{
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
	}
}

/* torso */
@-webkit-keyframes slide-1{
	25%{
		-webkit-transform: rotateZ(-45deg) translateX(20px) translateY(10px);
		-moz-transform: rotateZ(-45deg) translateX(20px) translateY(10px);
	}
	50%{
		-webkit-transform: rotateZ(-90deg) translateX(10px) translateY(20px);
		-moz-transform: rotateZ(-90deg) translateX(10px) translateY(20px);
	}
}

/* arm 0 */
@-webkit-keyframes slide-2{
	50%{
		-webkit-transform: rotateZ(90deg) translateX(-10px) translateY(-10px);
		-moz-transform: rotateZ(90deg) translateX(-10px) translateY(-10px);
	}
	75%{
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
	}
}

/* arm 1 */
@-webkit-keyframes slide-3{
	50%{
		-webkit-transform: rotateZ(60deg);
		-moz-transform: rotateZ(60deg);
	}
	75%{
		-webkit-transform: rotateZ(30deg) translateX(-10px) translateY(10px);
		-moz-transform: rotateZ(30deg) translateX(-10px) translateY(10px);
	}
}

/* leg 0 */
@-webkit-keyframes slide-4{
	50%{
		-webkit-transform: rotateZ(-120deg) translateX(5px) translateY(80px);
		-moz-transform: rotateZ(-120deg) translateX(5px) translateY(80px);
	}
	75%{
		-webkit-transform: rotateZ(-90deg) translateX(20px) translateY(30px);
		-moz-transform: rotateZ(-90deg) translateX(20px) translateY(30px);
	}
}

/* leg 1 */
@-webkit-keyframes slide-5{
	50%{
		-webkit-transform: rotateZ(-120deg) translateX(20px) translateY(58px);
		-moz-transform: rotateZ(-120deg) translateX(20px) translateY(58px);
	}
	75%{
		-webkit-transform: rotateZ(-90deg) translateX(20px) translateY(20px);
		-moz-transform: rotateZ(-90deg) translateX(20px) translateY(20px);
	}
}

/* entire body */
@-webkit-keyframes slide-6{
	50%{
		-webkit-transform: translateY(50px);
		-moz-transform: translateY(50px);
	}
}

/* head */
@-webkit-keyframes explode-0{
	50%{
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
	}
	100%{
		-webkit-transform: translateY(62px);
		-moz-transform: translateY(62px);
	}
}

/* head bounce */
@-webkit-keyframes explode-0-2{
	0%{
		-webkit-transform: translateY(62px);
		-moz-transform: translateY(62px);
	}
	50%{
		-webkit-transform: translateY(40px);
		-moz-transform: translateY(40px);
	}
	100%{
		-webkit-transform: translateY(62px);
		-moz-transform: translateY(62px);
	}
}

/* head roll */
@-webkit-keyframes explode-0-3{
	0%{
		-webkit-transform: translateY(62px);
		-moz-transform: translateY(62px);
	}
	100%{
		-webkit-transform: translateX(700px) translateY(62px);
		-moz-transform: translateX(700px) translateY(62px);
	}
}

/* torso */
@-webkit-keyframes explode-1{
	100%{
		-webkit-transform: rotateZ(-45deg) translateX(-150px) translateY(-200px);
		-moz-transform: rotateZ(-45deg) translateX(-150px) translateY(-200px);
	}
}

/* arm 0 */
@-webkit-keyframes explode-2{
	100%{
		-webkit-transform: rotateZ(45deg) translateX(-100px) translateY(200px);
		-moz-transform: rotateZ(45deg) translateX(-100px) translateY(200px);
	}
}

/* arm 1 */
@-webkit-keyframes explode-3{
	50%{
		-webkit-transform: rotateZ(40deg) translateX(50px) translateY(-150px);
		-moz-transform: rotateZ(40deg) translateX(50px) translateY(-150px);
	}
	100%{
		-webkit-transform: rotateZ(90deg) translateX(40px) translateY(100px);
		-moz-transform: rotateZ(90deg) translateX(40px) translateY(100px);
	}
}

/* arm 1 slide after explosion */
@-webkit-keyframes explode-3-2{
	0%{
		-webkit-transform: rotateZ(90deg) translateX(40px) translateY(-100px);
		-moz-transform: rotateZ(90deg) translateX(40px) translateY(-100px);		
	}
	100%{
		-webkit-transform: rotateZ(90deg) translateX(40px) translateY(-300px);
		-moz-transform: rotateZ(90deg) translateX(40px) translateY(-300px);
	}
}

/* leg 0 explosion */
@-webkit-keyframes explode-4{
	100%{
		-webkit-transform: rotateZ(100deg) translateX(100px);
		-moz-transform: rotateZ(100deg) translateX(100px);
	}
}

/* leg 1 explosion */
@-webkit-keyframes explode-5{
	100%{
		-webkit-transform: rotateZ(-100deg) translateX(-100px);
		-moz-transform: rotateZ(-100deg) translateX(-100px);		
	}
}

.arm-0-run, .leg-0-run{
	-webkit-animation: run-0 .5s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
}

.arm-1-run, .leg-1-run{
	-webkit-animation: run-1 .5s linear infinite;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.stick-figure-jump{
	-webkit-animation: jump-0 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.arm-0-jump{
	-webkit-animation: jump-1 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.arm-1-jump{
	-webkit-animation: jump-2 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.leg-0-jump{
	-webkit-animation: jump-3 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.leg-1-jump{
	-webkit-animation: jump-4 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.stick-figure-slide{
	-webkit-animation: slide-6 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.head-slide{
	-webkit-animation: slide-0 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.torso-slide{
	-webkit-animation: slide-1 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.arm-0-slide{
	-webkit-animation: slide-2 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.arm-1-slide{
	-webkit-animation: slide-3 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.leg-0-slide{
	-webkit-animation: slide-4 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.leg-1-slide{
	-webkit-animation: slide-5 .5s linear;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.head-explode{
	-webkit-animation: explode-0 .5s linear, explode-0-2 .5s .5s 3 linear, explode-0-3 50s 1s forwards;
}

.torso-explode{
	-webkit-animation: explode-1 .5s linear forwards;
}

.arm-0-explode{
	-webkit-animation: explode-2 .5s linear forwards;
}

.arm-1-explode{
	-webkit-animation: explode-3 .5s, explode-3-2 50s .5s ease-out forwards;
}

.leg-0-explode{
	-webkit-animation: explode-4 .5s linear forwards;
}

.leg-1-explode{
	-webkit-animation: explode-5 .5s linear forwards;
}