body{
	text-align: center;
	position: relative;
}

#game-canvas{
	width: 512px;
	height: 384px;
	background-color: #488BE4;
}

.game-board{
	width: 512px;
	height: 384px;
	overflow: hidden;
	position: relative;
}
.score-container{
	float: left;
	width: 100px;
}

.round-container{
	float: right;
	width: 100px;
	margin-right: 15px; 
}

.score{
	position: absolute;
	margin: 0 10px;
}

.round{
	position: absolute;
	margin: 0 10px 0px;
}

.center-margin{
	margin: 0 auto;
}

.absolute-pos{
	position: absolute;
}

.black-background{
	background-color: #000000;
}

.transition-time{
	transition: .3s;
}

/*
	Block
*/
@keyframes slide-left{
	0%{		
	}
	100%{
		left: -512px;
	}
}

.block{
	height: 30px;
	width: 30px;
	background-color: blue;
	position: absolute;
	z-index: 1;
	animation: slide-left 2s linear;
	left: 512px;
	-webkit-transform: translate3d(0, 0, 0);
}

.slide-block{
	top: 300px;
}

.jump-block{
	bottom: 0px;
}

/*
	Stick figure body 
*/
.stick-figure{
	height: 90px;
	width: 50px;
	top: 292px;
	left: 50px;
	z-index: 1;
}

.stick-width{
	width: 5px;
}

.head{
	height: 30px;
	width: 30px;
	left: 10px;
	border-radius: 50%;
}

.torso{
	height: 35px;
	left: 22px;
	top: 30px;
}

.arms{
	height: 30px;
	top: 35px;
}

.arm-0{
	left: 15px;
	-webkit-transform: rotate(25deg);
}

.arm-1{
	right: 15px;
	-webkit-transform: rotate(-25deg);
}

.legs{
	height: 30px;
	top: 60px;
}

.leg-0{
	left: 13px;
	-webkit-transform: rotate(35deg);
}

.leg-1{
	right: 13px;
	-webkit-transform: rotate(-35deg);
}