body{
	text-align: center;
	position: relative;
}

#game-canvas{
	width: 512px;
	height: 384px;
	background-color: #488BE4;
}

.center-margin{
	margin: 0 auto;
}

.absolute-pos{
	position: absolute;
}

.black-background{
	background-color: #000000;
}

.transition-time{
	transition: .3s;
}


/*
	Stick figure body 
*/
.stick-figure{
	height: 90px;
	width: 50px;
	top: 292px;
	left: 400px;
}

.stick-width{
	width: 5px;
}

.head{
	height: 30px;
	width: 30px;
	left: 10px;
	border-radius: 50%;
}

.torso{
	height: 35px;
	left: 22px;
	top: 30px;
}

.arms{
	height: 30px;
	top: 35px;
}

.arm-0{
	left: 15px;
	-webkit-transform: rotate(25deg);
}

.arm-1{
	right: 15px;
	-webkit-transform: rotate(-25deg);
}

.legs{
	height: 30px;
	top: 60px;
}

.leg-0{
	left: 13px;
	-webkit-transform: rotate(35deg);
}

.leg-1{
	right: 13px;
	-webkit-transform: rotate(-35deg);
}


/*
	Stick figure animation classes that will be added and removed when necessary by
	javascript
*/
@keyframes run-0{
	0%{
		-webkit-transform: rotate(50deg);
	}
	25%{
		left: 22px;
	}
	50%{
		-webkit-transform: rotate(-50deg);
		left: 35px;
	}
	75%{
		left: 22px;
	}
	100%{
		-webkit-transform: rotate(50deg);
		left: 13px;
	}
}

@keyframes run-1{
	0%{
		-webkit-transform: rotate(-50deg);
	}
	25%{
		right: 22px;
	}
	50%{
		-webkit-transform: rotate(50deg);
		right: 35px;
	}
	75%{
		right: 22px;
	}
	100%{
		-webkit-transform: rotate(-50deg);
		right: 13px;
	}	
}

/*@keyframes slide-0{
	0%{
		top: 0px;
	}
	100%{
		top: 60px;
	}
}
*/
.arm-0-run, .leg-0-run{
	animation: run-0 .5s linear infinite;
}

.arm-1-run, .leg-1-run{
	animation: run-1 .5s linear infinite;
}

.arm-0-jump{
	-webkit-transform: rotate(50deg);
}

.arm-1-jump{
	left: 33px;
	top: 25px;
	-webkit-transform: rotate(-90deg);
}

.leg-0-jump{
	top: 55px;
	left: 10px;
	-webkit-transform: rotate(70deg);
}

.leg-1-jump{
	top: 45px;
	-webkit-transform: rotate(-120deg);
}

.head-slide{
	top: 60px;
}