body{
	text-align: center;
	position: relative;
}

#game-canvas{
	width: 512px;
	height: 384px;
	background-color: #488BE4;
}

.game-board{
	width: 512px;
	height: 384px;
	overflow: hidden;
	position: relative;
}

.center-margin{
	margin: 0 auto;
}

.absolute-pos{
	position: absolute;
}

.black-background{
	background-color: #000000;
}

.transition-time{
	transition: .3s;
}

/*
	Block
*/
.block{
	height: 30px;
	width: 30px;
	background-color: blue;
}

/*
	Stick figure body 
*/
.stick-figure{
	height: 90px;
	width: 50px;
	top: 292px;
	left: 50px;
}

.stick-width{
	width: 5px;
}

.head{
	height: 30px;
	width: 30px;
	left: 10px;
	border-radius: 50%;
}

.torso{
	height: 35px;
	left: 22px;
	top: 30px;
}

.arms{
	height: 30px;
	top: 35px;
}

.arm-0{
	left: 15px;
	-webkit-transform: rotate(25deg);
}

.arm-1{
	right: 15px;
	-webkit-transform: rotate(-25deg);
}

.legs{
	height: 30px;
	top: 60px;
}

.leg-0{
	left: 13px;
	-webkit-transform: rotate(35deg);
}

.leg-1{
	right: 13px;
	-webkit-transform: rotate(-35deg);
}


/*
	Stick figure animation classes that will be added and removed when necessary by
	javascript
*/
/* arm and leg 0 */
@keyframes run-0{
	0%{
		-webkit-transform: rotate(50deg);
	}
	25%{
		left: 22px;
	}
	50%{
		-webkit-transform: rotate(-50deg);
		left: 35px;
	}
	75%{
		left: 22px;
	}
	100%{
		-webkit-transform: rotate(50deg);
		left: 13px;
	}
}

/* arm and leg 1 */
@keyframes run-1{
	0%{
		-webkit-transform: rotate(-50deg);
	}
	25%{
		right: 22px;
	}
	50%{
		-webkit-transform: rotate(50deg);
		right: 35px;
	}
	75%{
		right: 22px;
	}
	100%{
		-webkit-transform: rotate(-50deg);
		right: 13px;
	}	
}

/* entire body */
@keyframes jump-0{
	50%{
		-webkit-transform: translate(0px, -40px);
	}
}

/* arm 0 */
@keyframes jump-1{
	50%{
		-webkit-transform: rotate(70deg) translate(-5px, 5px);
	}
}

/* arm 1 */
@keyframes jump-2{
	25%{
		-webkit-transform: rotate(-70deg) translate(15px, 0px);
	}
	50%{
		-webkit-transform: rotate(-140deg) translate(10px, 20px);
	}
}

/* leg 0 */
@keyframes jump-3{
	50%{
		-webkit-transform: rotate(70deg) translate(-5px, 2px);
	}
}

/* leg 1 */
@keyframes jump-4{
	50%{
		-webkit-transform: rotate(-120deg) translate(10px, 10px);
	}
}

/* head */
@keyframes slide-0{
	50%{
		-webkit-transform: translate(0, 60px);
	}
}

/* torso */
@keyframes slide-1{
	25%{
		-webkit-transform: rotate(-45deg) translate(5px, 20px);
	}
	50%{
		-webkit-transform: rotate(-90deg) translate(-30px, 40px);
	}
}

/* arm 0 */
@keyframes slide-2{
	50%{
		-webkit-transform: rotate(90deg) translate(30px, 10px);
	}
}

/* arm 1 */
@keyframes slide-3{
	50%{
		-webkit-transform: rotate(60deg) translate(20px, 50px);
	}
}

/* leg 0 */
@keyframes slide-4{
	50%{
		-webkit-transform: rotate(-120deg) translate(-35px, 60px);
	}
	75%{
		-webkit-transform: rotate(-90deg) translate(-5px, 30px);
	}
}

/* leg 1 */
@keyframes slide-5{
	50%{
		-webkit-transform: rotate(-120deg) translate(-25px, 40px);
	}
	75%{
		-webkit-transform: rotate(-90deg) translate(-10px, 15px);
	}
}

.arm-0-run, .leg-0-run{
	animation: run-0 .5s linear infinite;
}

.arm-1-run, .leg-1-run{
	animation: run-1 .5s linear infinite;
}

.stick-figure-jump{
	animation: jump-0 .5s linear;
}

.arm-0-jump{
	animation: jump-1 .5s linear;
}

.arm-1-jump{
	animation: jump-2 .5s linear;
}

.leg-0-jump{
	animation: jump-3 .5s linear;
}

.leg-1-jump{
	animation: jump-4 .5s linear;
}

.head-slide{
	animation: slide-0 .5s linear;
}

.torso-slide{
	animation: slide-1 .5s linear;
}

.arm-0-slide{
	animation: slide-2 .5s linear;
}

.arm-1-slide{
	animation: slide-3 .5s linear;
}

.leg-0-slide{
	animation: slide-4 .5s linear;
}

.leg-1-slide{
	animation: slide-5 .5s linear;
}